@import './scss/_variables';
@import './scss/_mixins';

.toplevel_page_optimator-settings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  img {
    width: 100%;
  }

  .icon {
    height: 25px;
    width: 25px;
  }

  .pointer {
    cursor: pointer;
  }

  #wpwrap {
    background-color: #F8FAFC;
  }

  #wpcontent {
    padding-left: 0;
  }

  #wpbody-content {
    padding-bottom: unset;
  }

  #optimator-dashboard-app {
    height: 100%;
  }

  .wrap {
    background-color: #F8FAFC;
    margin: 0;
    // height: calc(100vh - 32px);
    // min-height: 1080px;
  }

  #wpfooter {
    display: none;
  }
}