@mixin tablet_big {
    @media (max-width: $tablet_big_breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet_breakpoint) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile_breakpoint) {
        @content;
    }
}

@mixin title($position: center) {
}

@mixin desc($position: center) {
}

@mixin flex($direction: row, $justify_center: center, $align_items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify_center;
    align-items: $align_items;
}