@mixin tablet_big {
    @media (max-width: $tablet_big_breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet_breakpoint) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile_breakpoint) {
        @content;
    }
}

@mixin card() {
    @include flex(column, center, flex-start);

    border-radius: 4px;
    border: 1px solid #e4e7ed;
    background-color: #ffffff;
    overflow: hidden;
    color: #303133;
    transition: 0.3s;
    box-shadow: $box_shadow;
}

@mixin title($position: center) {
}

@mixin desc($position: center) {
}

@mixin flex($direction: row, $justify_center: center, $align_items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify_center;
    align-items: $align_items;
}