$tablet_big_breakpoint: 1024px;
$tablet_breakpoint: 768px;
$mobile_breakpoint: 480px;

$primary_text: #444444;
$secondary_text: #777777;
$orange: #E27730;
$border_color: #DDD;
$background_color: #F8F8F8;
$hint_text_color: #AAA;

$box_shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);